<h4 class="ms-3 my-3 text-primary fw-bold">
  Inscripción Programa
</h4>
<div class="mx-2 mt-2 border-buttom background-form">
  <div class="border-bottom border-left border-right p-3">
    <div *ngIf="!invalid; else elseBlock">
      <h5>Programa Academico</h5>
      <p>{{ programa.especializacion}}</p>
      <h5>Periodo</h5>
      <p>{{ programa.periodo}}</p>
      <h5>Creditos</h5>
      <p>{{ programa.creditos}}</p>
      <button class="btn btn-primary" (click)="inscribir()">Inscribirme</button>
    </div>
    <ng-template #elseBlock>
      <h5>Programa Academico Inscrito</h5>
    </ng-template>
  </div>
</div>

